<div class="child row">
  <div class="left-col col-sm-3">
    <p class="image-profile" ><%= profile_img(@target_user) if profile_img(@target_user) %></p>
    <p class="text-profile" ><%= @target_user.name %></p>
    <div class=clearfix></div>
  </div>
  <div class="col-sm-6" style="background-color: white;">
    <div id="message-errors"></div>
    <div id="messages_area">
      <%= render partial: 'messages/index', locals: { messages: @messages, conversation: @conversation, read_user: current_user, readonly: @readonly } %>
    </div>
  </div>
</div>
