<%= form_for( comment, remote: true ) do |f| %>
  <%= f.error_messages! %>
  <div class="field">
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="actions">
  </div>
<% end %>
