<div class="child row">
  <div class="col-md-6 col-md-offset-3 notifications-index">
    <h2>過去の会話相手</h2>
    <ul>
      <% @conversations.each do |conversation| %>
        <% if conversation.target_user(current_user).present? %>
          <li>
            <%= link_to conversation_messages_path(conversation) do %>
              <div class="image-profile" style="width:40px;" >
                <%= render partial: 'profileimage', locals: { user: conversation.target_user(current_user) } %>
              </div>
              <%= conversation.target_user(current_user).name %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
