<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for([@user, @topic], remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">
          <% if( @topic.id==nil ) %>
            トピック作成
          <% else %>
            トピック編集
          <% end %>
        </h5>
      </div>
      <div class="modal-body">
        <div class="field">
          <%= f.text_field :title, autofocus: true, placeholder: "タイトル", class: "form-control input-sm" %>
        </div>
        <div class="field">
          <%= f.text_field :content, placeholder: "本文", class: "form-control input-sm" %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="topic-errors text-left"></div>
        <%= f.submit "投稿", :class => "btn btn-blue" %>
      </div>
    <% end %>
  </div>
</div>
