<p id="notice"><%= notice %></p>

<h1>トピック一覧</h1>
<br>
<%= link_to 'New Topic', new_user_topic_path(@user), remote: true %>

<table>
  <thead>
    <tr>
      <% if @user.id != current_user.id %>
        <th>投稿者</th>
      <% end %>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="topics-body">
    <%= render "tbody" %>
  </tbody>
</table>

<div id="topic-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
