<ul>
  <% users.each do |user| %>
    <li>
      <div class="users-image" >
        <%= render partial: 'profileimage', locals: { user: user } %>
      </div>
      <p><%= user.name %></p>
      <% if user.id != current_user.id %>
        <%= render partial: 'follow_form', locals: { user: user } %>
      <% end %>
    </li>
  <% end %>
</ul>
