<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-12">
    <div id="users" class="users-index">
      <ul class="page">
        <%= render @users %>
      </ul>
    </div>
    <%= paginate @users %>
  <div>
</div>
