@import "topics";

.image-profile {
  @include profile-image-size(10px);
  display: block;
  float: left;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 10px;
}

#comments_area {
  text-align: left;
  .image-profile {
    @include profile-image-size(25px);
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }
  .comment-author {
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: small;
  }
  .comment-info {
    display: block;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: small;
    .comment-content {
      margin-bottom: 5px;
    }
    .comment-edit {
    }
  }
}
