@mixin button-fukumen($color) {
  color: white;
  background-color: $color;
  border-color: darken($color,20%);
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle & {
    color: white;
    background-color: darken($color, 8%);
    border-color: darken(darken($color,20%), 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $color;
      border-color: darken($color,20%)
    }
  }
}

@mixin profile-image-size($size) {
  .sugao {
    width: $size;
    height: $size;
    overflow: hidden;
    img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%,-50%);
    }
  }
  .fukumen {
    width: $size;
    height: $size;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
