@import "global";

.conversation-target {
  text-align: left;
  .image-profile {
    @include profile-image-size(20px);
    display: block;
    float: left;
    margin-right: 5px;
  }
}

.messages-body {
  .panel-body {
    .image-profile {
      @include profile-image-size(40px);
      display: block;
      float: left;
      margin-right: 5px;
    }
    .target_user {
      display: block;
      float: left;
    }
  }
  .panel-footer {
    text-align: left;
    .message-sender {
      display: block;
      float: left;
      margin-top: 5px;
      margin-right: 5px;
      margin-bottom: 0px;
      font-size: x-small;
      font-weight: bold;
    }
    .created-at {
      display: block;
      float: left;
      margin-top: 5px;
      margin-right: 5px;
      margin-bottom: 0px;
      font-size: x-small;
    }
    .message-body {
      display: block;
    }
  }
}

.messages-item {
  text-align: left;
  border-bottom: 1px solid #999;
  .message-sender {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: x-small;
    font-weight: bold;
  }
  .created-at {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: x-small;
  }
  .message-body {
    display: block;
    margin-left: 5px;
  }
  .message-read {
    display: block;
    float: right;
    font-size: x-small;
    p {
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
}
