@import "global";

body {
  text-align: center;
  background-color: #eeeeee;
}

header {
  width: 100%;
  //background-color: #102c70;
  //background-color: #3b5998;
}

.navbar-brand {
  .logo-mask {
    width: 150px;
    margin-left: -30px;
    margin-top: -20px;
  }
  .icon-mask {
    @include profile-image-size(40px);
    margin-top: -10px;
  }
}
.bar-profile {
  position: relative;
  left: 50%;
  float: left;
  //padding-top: 10px;
  //padding-bottom: 10px;
  .bar-profile-div {
    position: relative;
    left: -50%;
    float: left;
  }
  img {
    overflow: hidden;
    width: 30px;
    height: 30px;
  }
  .text-profile {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
}
.navbar-nav {
  .icon-font {
    color: black;
    &:hover {
      color: lighten(black, 50%);
    }
  }
  .dropdown .dropdown-toggle {
    color: black;
    &:hover {
      color: lighten(black, 50%);
    }
  }
}

.navbar-default {
  border: 0;
  padding: 0px 25px;
}
.navbar {
  //background-color: transparent;
  background-color: #3b5998;
  color: white;
  margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3b5998;
  padding: 10px 0 5px 0;
  color: white;
  margin: auto;
  font-size: 12px;
}

.container {
  //padding-bottom: 85px;
}
