
body {
  text-align: center;
  background-color: #eeeeee;
}

header {
  width: 100%;
  //background-color: #102c70;
  background-color: #3b5998;
}

.navbar-brand {
  .logo-mask {
    background-image: image-url("logomask.png");
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: 0px center;
    width: 180px;
  }
  .icon-mask {
    width: 40px;
    margin-top: -10px;
    position: relative;
    .parts-mask {
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}
.navbar-nav {
  .icon-profile {
    display: block;
    float: left;
    width: 30px;
    margin-top: 10px;
  }
  .text-profile {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .icon-font {
    color: black;
    &:hover {
      color: lighten(black, 50%);
    }
  }
  .dropdown .dropdown-toggle {
    color: black;
    &:hover {
      color: lighten(black, 50%);
    }
  }
}

.navbar-default {
  border: 0;
  padding: 0px 25px;
}
.navbar {
  background-color: transparent;
  color: white;
  margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3b5998;
  padding: 10px 0 5px 0;
  color: white;
  margin: auto;
  font-size: 12px;
}

.container {
  padding-bottom: 85px;
}
