@import "global";

.left-col {
  .image-profile {
    overflow: hidden;
    width: 20px;
    height: 20px;
    img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%,-50%);
    }
    float: left;
    margin-top: 10px;
    margin-left: 5px;
  }
  .text-profile {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
  }
}

.panel-topic-new {
  .image-profile {
    overflow: hidden;
    width: 50px;
    height: 50px;
    img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%,-50%);
    }
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }
  .text-profile {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    color: #cccccc;
  }
}

.topics-body {
  .panel {
    margin-top: 20px;
  }
  text-align: left;
  .image-profile {
    @include profile-image-size(50px);
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .topic-author {
    margin-top: 5px;
    margin-left: 10px;
  }
  .created-at {
    margin-top: 5px;
    font-size: small;
  }
  .topic-title {
    font-size: small;
  }
  .topic-content {
    font-size: x-large;
  }
}
