<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= new_session_path(resource_name) %>">
          <div class="logo-mask">
            <%= image_tag "logomask.png" %>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>
